@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  justify-content: center;
}

.divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.input::placeholder {
  opacity: 0.5;
}

.button {
  cursor: pointer;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
