@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.logo {
  font-weight: 600;
  font-size: 2rem;
  color: rgb(1, 144, 255);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #0290ff;
  justify-self: end;
}

.span {
  color: #0290ff;
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 24px 4%;
  border-bottom: 1px solid #e8e8e8;
  column-gap: 40px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
}

.ulContainer {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.lists {
  opacity: 1;
  color: #121212;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-decoration: none;
}
